$primary-font: Arial, Helvetica, sans-serif;
$base-color: #6677ee;
$table-color: #aabbff;
$fontcolor: #445566;
$back-color: #bbccdd;

body {
	background-color: $back-color;
	font-family: $primary-font;
}


h1 {

	font-size: 3em;
	text-align: center;
	color: darken($base-color, 10%);
	text-shadow: 2px 2px 0 rgba(1,1,1,0.2);
}

h3 {
	text-align: center;
}

#main {
	margin: 0 auto;
	width: 800px;
}


.ementa {
	border: 1px solid darken($base-color, 5%);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 4px 4px 0 rgba(0,0,0,0.2);

	.header {
		background-color: $base-color;
		color: white;
		text-align: center;
		font-size: 1.5em;
		padding: 1rem;
	}
}

table {
	border-collapse: collapse;
	background-color: white;
	border: 0px;
	width: 100%;

	th,tr,td {
		border: 1px solid $table-color;
		color: $fontcolor
	}

	th {
		background-color: $table-color;

	}	
}





.highlight{
	background-color: #ccffbb;
}
